
.nav-top {
  height: 10%;
  background: #222974;
  box-shadow: 0 10px 20px rgba(19, 19, 19, 0.2);
}

.nav-link,
.navbar-brand {
  color: white;
 
}

.navbar-brand {
 
  margin-bottom: 25px;
}

/* NavBar.css */
#dark {
  background-color: #272121;
  color: #fff;
}

#light {
  background-color: #ececf2;
  color: rgb(26, 24, 24);
}

.switch {
  margin-bottom: 0px;
  width: 90px;
  margin-left: auto;
}