.nav-top {
    
    background: #222974;
    box-shadow: 0 10px 20px rgba(19, 19, 19, 0.2);
}
.nav-link , .navbar-brand{
    color: white;
}
/* NavBar.css */
.dark-mode {
    background-color: #b4afaf;
    color: #fff;
  }
  
  .light-mode {
    background-color: #222974;
    color: white;
  }
  
  .toggle-mode-btn {
    margin-left: auto;
    padding: 8px;
  }
  